name: Backend

on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'
      - '.github/workflows/backend.yml'
  pull_request:
    paths:
      - 'backend/**'
      - '.github/workflows/backend.yml'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
      - name: build
        run: make build

  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
      - name: startup
        run: docker compose up -d
      - name: test
        run: make test

  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
      - name: 実行
        run: make toolsinstall lint

  fmt:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
      - name: 実行
        run: make toolsinstall fmt
      - name: check change
        run: |
          git status -s
          test -z "$(git status -s)"

  tbls:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v5

      - uses: k1low/setup-tbls@v1

      - name: start up
        run: docker compose up -d

      - name: run auto migration
        run: make migrate

      - name: run
        run: make updatetbls

      # tbls diffしているから不要だけど、一応確認しておく
      - name: Diff check
        run: |
          git status # ジョブが失敗したとき、どこで失敗したか人が確認する用
          test -z "$(git status -s)"

  image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v5

      - name: Get git tag(short)
        id: git-tag
        run: |
          GIT_TAG=$(git rev-parse --short HEAD)
          echo "::set-output name=git-tag::$GIT_TAG"

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image for release
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v6
        with:
          context: .
          builder: ${{ steps.buildx.outputs.name }}
          target: release
          push: true
          tags: ghcr.io/${{ github.repository }}:${{ steps.git-tag.outputs.git-tag }},ghcr.io/${{ github.repository }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
